version: '3.8'
services:
  api:
    build:
      context: .
    image: mdm-api
    container_name: mdm-api
    restart: always
    command: npm run start:prod
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ./:/app/src:rw
    environment:
      PORT:
      NODE_ENV:
      TZ:
      LOG_LEVEL:
      REDACT_LOGS:
      SINGLE_LINE_LOG_FORMAT:
      SWAGGER_USER:
      SWAGGER_PASSWORD:
      DATABASE_PORT:
      DATABASE_USERNAME:
      DATABASE_PASSWORD:
      DATABASE_HOST:
      DATABASE_MDM_NAME:
      DATABASE_NUMBER_GENERATOR_NAME:
      DATABASE_CEDAR_NAME:
      DATABASE_CIS_NAME:
      DATABASE_ODS_HOST:
      DATABASE_ODS_PORT:
      DATABASE_ODS_CLIENT_ID:
      DATABASE_ODS_TENANT_ID:
      DATABASE_ODS_CLIENT_SECRET:
      DATABASE_ODS_NAME:
      APIM_INFORMATICA_URL:
      APIM_INFORMATICA_USERNAME:
      APIM_INFORMATICA_PASSWORD:
      APIM_INFORMATICA_MAX_REDIRECTS:
      APIM_INFORMATICA_TIMEOUT:
      ORDNANCE_SURVEY_URL:
      ORDNANCE_SURVEY_KEY:
      ORDNANCE_SURVEY_MAX_REDIRECTS:
      ORDNANCE_SURVEY_TIMEOUT:
      COMPANIES_HOUSE_URL:
      COMPANIES_HOUSE_KEY:
      COMPANIES_HOUSE_MAX_REDIRECTS:
      COMPANIES_HOUSE_TIMEOUT:
      API_KEY:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT}"]
      retries: 3
      interval: 60s
      timeout: 10s
      start_period: 30s

